# Gradle 
.gradle/
build/
gradle-app.setting
gradle-wrapper.jar
gradle-wrapper.properties

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Eclipse
.eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.classpath

# Java
*.class
*.log
*.ctxt
.mtj.tmp/
hs_err_pid*
replay_pid*

# Spring Boot
target/
.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Application specific
logs/
application-local.yml
application-local.properties
/out/
